.site-index .panorama{
    height: 600px;
}

body
{
	overflow: hidden;
	margin : 0px;
	padding: 0px;
}

#img_loading
{
	position: absolute;
	z-index: 999;
	top : 300px;
	left : calc(50% - 50px);
	opacity: 0.5;
}

#popup
{
	position: absolute;
	width: 250px;
	height: 90px;
	line-height: 30px;
	border: 1px solid gray;
	padding: 2px;
	box-shadow: 0px 0px 10px gray;
	background-color: rgba(255, 255, 255, 0.75);
	display: none;
}

#preview {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#previewContent {
	position: absolute;
	top: 0px;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


#home_area
{
	position: absolute;
	bottom: 10px;
	left: calc(50% - 25px);
	z-index: 99;
	color:black;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	padding: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 10px white;
}

#home_area img
{
	width : 100%;
}

#top_btn_area
{
	width 	: 190px;
	position: absolute;
	z-index: 99;
	top 	: 50px;
	left 	: calc(50% - 95px);
}

.abs_btn
{
	background 	: rgba(0, 0, 0, 0.75);
	width: 90px;
	/*height: 25px;*/
	color: white;
	box-shadow: 0px 0px 10px white;
	line-height: 25px;
	border: 1px solid white;
	font-family: arial;
	font-size: 12px;
	cursor: pointer;
}

.abs_btn:first-child
{
	margin-right: 5px;
}

#buttonContainer {
	position: absolute;
	top: 5px;
	left: 6px;
	z-index: 99;
}

#cesiumContainer {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#altContainer {
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	padding: 0 2px;
}

#altContainer label {
	line-height: 1em;
}

#previewContent:-webkit-full-screen {
	top: 0;
}

#previewContent:-ms-fullscreen {
	top: 0;
}

#previewContent:-moz-full-screen {
	top: 0;
}

#previewContent:fullscreen {
	top: 0;
}

#location
{
	position: absolute;
	width: 120px;
	height: 90px;
	line-height: 30px;
	border: 1px solid gray;
	padding: 2px;
	box-shadow: 0px 0px 10px gray;
	background-color: rgba(255, 255, 255, 0.75);

}

#output
{
	display: none;
}

#btn_view
{
	position: absolute;
	width: 200px;
	height: 35px;
	left: calc(50% - 100px);
	top : 100px;
}
.cesium-viewer-animationContainer
{
	display: none;
}

.cesium-viewer-bottom
{
	display: none;
}